/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --color-white: #ffffff;
  --color-text-main: #272142;
  --color-heading-main: #000000;
  --bg-color-hero: #F9F7FE;
  --color-btn-main: #6C63FF;
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
}

.body {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--color-heading-main)
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  color: var(--color-text-main);
  font-size: 16px;
  line-height: 30px;
}

li a {
  color: var(--color-text-main);
}

.active {
  color: var(--color-btn-main);
}

.btn {
  border-radius: 4px;
  color: var(--color-white);
  font-family: var(--default-font-family);
  font-size: 18px;
}

.hero {
  background-color: var(--bg-color-hero);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  color: var(--color-text-main)
}

.btn-branding {
  background-color: var(--color-btn-main);
  line-height: 27px;
  padding: 18px 46px;
}

.btn-branding-outline {
  line-height: 27px;
  padding: 18px 46px;
  color: var(--color-btn-main);
  border: 1px solid var(--color-btn-main);
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {

  h1 {
    font-size: 44px;
    line-height: 1.4;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

}